@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
/* css page for contact page */
.main-headline {
  text-decoration: none;
  color: black;
}

.second-headline {
  font-family: Rubik Vinyl, cursive;
  font-size: 50px;
  text-align: center;
  margin: 35px, 0, 20px, 0;
}

body {
  background-color: rgb(77, 199, 83);
}

h1 {
  text-align: center;
  text-shadow: 12px -6px 7px rgba(36, 102, 12, 0.76);
  font-family: Rubik Vinyl, cursive;
  font-size: 60px;
}

div.navigator {
  text-align: center;
  margin-bottom: 30px;
}

a {
  margin: 5px;
  border-radius: 5px;
}

article {
  display: inline-block;
  width: 46%;
  border-radius: 30px;
  border-style: dashed;
  border-color: black;
  margin: 50px 10px 10px 10px;
  padding: 10px;
}

.footer {
  margin-top: 30%;
  text-align: center;
}

* {
  direction: rtl;
}
.contact-legend {
  text-align: right;
  font-family: "Suez One", serif;
  font-size: 20px;
  direction: rtl;
}

button {
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  border-style: solid;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 30px;
}

.contact-submit {
  background-color: rgb(105, 175, 153);
  margin-right: 25%;
}
.contact-reset {
  background-color: rgb(193, 70, 70);
  margin-right: 25%;
}

textarea {
  display: block;
  margin-top: 30px;
  border-radius: 10px;
}
div.register-select-and-label {
  margin-top: 30px;
  display: block;
}
input,
label,
select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 10px;
}
::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
